/* $Id$ */

h3.bbquoteheader {
	display: inline;
	font-size: .9em;
	position: relative;
	top: +8px;
	left: +6px;
	padding: 0 .4em 0 .4em;
	border: 1px solid black;
	background-color: #fff;
	font-weight: bold
}

h3.bbcodeheader {
	display: inline;
	font-size: .9em;
	position: relative;
	top: +8px;
	left: +6px;
	padding: 0 .4em 0 .4em;
	border: 1px solid black;
	background-color: #fff;
	font-weight: bold
}

blockquote.bbquotetext {
	border: 1px solid #000;
	padding: .3em;
	background-color: #d9d9d9;
	margin: 0 0 1.4em 0
}

blockquote.bbcodetext {
	border: 1px solid #000;
	padding: 1.5em 0 .3em 0;
	background-color: #d9d9d9;
	margin: 0 0 1.4em 0;
	font-size: 0.8em;
}

.bbcodetext {
	border: 1px solid #000;
	padding: 1.5em 0 .3em 0;
	background-color: #d9d9d9;
	margin: 0 0 1.4em 0;
	font-size: 0.8em;
}

.overallClass a:link {
    padding-left: 0px;
    font-size: 25px;
    background-image: none;
}

.overallClass a:visited {
    padding-left: 0px;
    font-size: 25px;
    background-image: none;
}

.overallClass a:hover {
    padding-left: 0px;
    font-size: 25px;
    background-image: none;
}

.overallClass a:active {
    padding-left: 0px;
    font-size: 25px;
    background-image: none;
}

.hidden {
    display: none;
}

.shown {
    display: inline;
}
